/Slot05_06_SLList_withObj/nbproject/private/
/Slot05_06_SLList_withObj/build/
/Slot09_10_Stack/nbproject/private/
/Slot11_12_StackWithObj/nbproject/private/
/Slot11_12_StackWithObj/build/
/Assignment/nbproject/private/
/SP2025_CSD201_3W_01-main/Assigment/A01/Q1/build/
/SP2025_CSD201_3W_01-main/Assigment/A01/Q1/nbproject/private/
/SP2025_CSD201_3W_01-main/Assigment/A01/Q2/build/
/SP2025_CSD201_3W_01-main/Assigment/A01/Q2/nbproject/private/
/Assigment/A01/Q1/build/
/Assigment/A01/Q1/nbproject/private/
/Assigment/A01/Q2/build/
/Assigment/A01/Q2/nbproject/private/
/Assigment/A01/Q1/dist/
/Assigment/A01/Q2/dist/
/Assigment/A01/Q1/src/build/
/Assigment/A01/Q1/src/nbproject/private/
/Assigment/A01/Q2/sc/build/
/Assigment/A01/Q2/sc/nbproject/private/
/Assigment/A01/Q2/src/build/
/Assigment/A01/Q2/src/nbproject/private/
/Slot13_14_Queue/nbproject/private/
/Slot13_14_Queue/build/
/Slot13_14_QueueWithObj/nbproject/private/
/Slot13_14_QueueWithObj/build/